﻿@model BlogMvc.Models.PostViewModel

@{
	ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Crear">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Titulo" class="control-label"></label>
				<input asp-for="Titulo" class="form-control" />
				<span asp-validation-for="Titulo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Contenido" class="control-label"></label>
				<input asp-for="Contenido" class="form-control" />
				<span asp-validation-for="Contenido" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Crear" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Volver a Home</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
