﻿@model BlogMvc.Models.PostViewModel

@{
	ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Titulo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Titulo)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Contenido)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Contenido)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Fecha)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Fecha)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Editar", "Editar", new { id = Model.Id }) |
	<a asp-action="Index">Volver a Home</a>
</div>
