﻿@model BlogMvc.Models.PostViewModel

@{
	ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de querer eliminar este elemento?</h3>
<div>

	<form asp-action="Eliminar">
		<input type="submit" value="Eliminar" class="btn btn-danger" /> |
		<a asp-action="Index">Volver a Home</a>
	</form>
</div>
