﻿@model IEnumerable<BlogMvc.Models.PostViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Blog</h1>
<table class="table">
	<thead>
		<tr>
			<th>
				Posts
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Titulo)
				</td>
				<td class="row justify-content-end">
					@Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
					@Html.ActionLink("Detalles", "Detalle", new { id = item.Id }) |
					@Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
				</td>
			</tr>
		}
	</tbody>
</table>

